a {
  text-decoration: none !important;
}

td {
  white-space: nowrap;
}

.table {
  margin-bottom: 0 !important;
}

.section {
  margin-top: 15px;
}

.green {
  color: rgb(59, 214, 126);
}

.red {
  color: rgb(239, 69, 69);
}

.blue {
  color: rgb(92, 152, 249);
}

.bold {
  font-weight: bold;
}

.border {
  border: 1px solid #eceeef;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.hand {
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}